<div class="body">
  <div class="navbar">
    <app-navbar></app-navbar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div class="social-links fix">
  <div class="link">
    <img src="../../../../assets/images/uil_linkedin.svg" alt="linkedin" />
  </div>
  <div class="link">
    <img src="../../../../assets/images/ci_github.svg" alt="github" />
  </div>
  <div class="link">
    <img src="../../../../assets/images/uiw_twitter.svg" alt="twitter" />
  </div>
</div>