<ng-container *ngIf="data$ | async as data">
  <div class="body">

    <!-- FORM -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="header-bg">
        <h2>Login</h2>
      </div>
      <div class="container">
        
        <mc-backend-error-messages *ngIf="data.backendErrors" [backendErrors]="data.backendErrors"
          class="error-message">
        </mc-backend-error-messages>
        <div>
          <!-- <label for="username">Username</label> -->
          <input type="text" formControlName="username" id="username" placeholder="Enter Username" />
          <!-- VALIDATING USERNAME -->
          <div *ngIf="form.get('username')?.touched" class="message">
            <span class="error" *ngIf="form.get('username')?.errors">
              please provide a username!!!
            </span>
          </div>
        </div>
        <!-- PASSWORD -->
        <div>
          <!-- <label for="password">Password</label> -->
          <input placeholder="Enter password" type="password" formControlName="password" id="password" />
          <!-- VALIDATING PASSWORD -->
          <div *ngIf="form.get('password')?.touched" class="message">
            <span class="error" *ngIf="form.get('password')?.errors">
              password needs to be at least 8 characters.
            </span>
          </div>
        </div>
        <button class="btn" [disabled]="data.isSubmitting && !form.valid" type="submit">Sign In</button>
      </div>
    </form>
  </div>
</ng-container>