<div class="content-wrapper">
  <div class="content">
    <div class="card-container"> <!--  -->
      <div class="project-card">
        <div class="banner">
          <div class="overlay"></div>
          <p class="text">Read More</p>
        </div>
        <div class="details">
          <div class="name">Project Hope</div>
          <div class="more-info"> <!-- width is 100% -->
            <!-- I want to make the description to cover be visible for a certain area and add ... hiding what overflows -->
            <div class="description">A simple description of the project </div>
            <div class="date">9th 12 2023</div>
            <!-- I want this to cover the space it needs -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
