<div class="navbar">

        <div class="logo">
            <img src="../../../../assets/images/logo2.svg" alt="logo">
        </div>
        <div class="links">
            <div class="link" routerLinkActive="active" routerLink="/about-me">About Me</div>
            <div class="link" routerLinkActive="active" routerLink="/projects">Project</div>
            <div class="link" routerLinkActive="active" routerLink="/achievements">Achievement</div>
            <div class="link" routerLinkActive="active" routerLink="/documents">Documents</div>
            <div class="link" routerLinkActive="active" routerLink="/documents">Blog</div>
            <div class="link" routerLinkActive="active" routerLink="/contact">Contact</div>
        </div>

</div>