<div class="content-wrapper">
  <div class="image">
    <img src="../../../../assets/images/DI.jpg" alt="" />
  </div>
  <div class="about-me">
    <div class="content">
      <div class="header">
        Full Stack Developer | Solutions Architect | UI/UX Designer
      </div>
      <p>
        Hello! I'm Dida Irbaye, a full stack developer with a passion for
        JavaScript. I graduated from Africa International University and love
        the versatility of JavaScript as it allows me to develop a wide range of
        applications using just one language.
      </p>
      <p>
        Currently, I'm a PDTP intern and have had the opportunity to join KRA as
        a full stack developer. During my 9-month tenure, I was involved in 3
        projects, details of which you can find in my projects section.
      </p>
      <p>
        After my stint at KRA, I joined Oracle as an associate business analyst.
        With over 1.5 years of experience in developing solutions, I've grown
        both professionally and personally.
      </p>

      <p>
        Feel free to explore my portfolio to get a glimpse of my journey and the
        projects I've worked on. If you'd like to collaborate or just say hi,
        don't hesitate to get in touch!
      </p>
    </div>
  </div>
</div>

