<div class="body">
  <div class="container">
    <div class="brand">
      <img src="../../../../assets/images/logo2.svg" alt="" />
    </div>
    <div class="h-1">Full stack JavaScript Developer</div>
    <div class="message">
      <p>
        Welcome to my portfolio! I am a Full Stack JavaScript Developer. Driven
        by a passion for problem-solving, I chose JavaScript for its
        versatility. It enables me to build a wide range of applications, from
        mobile to web and desktop, using robust frameworks like Node.js, React,
        Angular, and Electron.
      </p>
      <p>
        As a software engineer, I see technology as an enabler that transforms
        ideas into reality. My goal is to create solutions that make a
        difference in society. Feel free to explore my portfolio to learn more
        about my work.
      </p>
    </div>
    <div class="more">Ready to dive in? <span routerLink="/about-me">Read More</span> About Me</div>
    <div class="options"></div>
    <div routerLink="/projects" class="btn btn-light">Projects</div>
    <div class="social-links">
      <div class="link">
        <img src="../../../../assets/images/uil_linkedin.svg" alt="linkedin" />
      </div>
      <div class="link">
        <img src="../../../../assets/images/ci_github.svg" alt="github" />
      </div>
      <div class="link">
        <img src="../../../../assets/images/uiw_twitter.svg" alt="twitter" />
      </div>
    </div>
  </div>
</div>
