<div class="body2">
  <div class="container2">
    <h1>Achievements</h1>

    <h2>Application Development</h2>
    <ul>
      <li>
        Developed a comprehensive application for JKA, demonstrating my ability
        to create functional and user-friendly software solutions.
      </li>
      <li>
        Contributed to the development of two internal systems aimed at
        improving the delivery of services, showcasing my commitment to
        enhancing operational efficiency.
      </li>
    </ul>

    <h2>Website Redesign</h2>
    <ul>
      <li>
        Successfully redesigned a website, resulting in improved workflow within
        the organization.
      </li>
      <li>
        Participated in the redesign of three websites, including a front-facing
        website, demonstrating my versatility and ability to work on diverse
        projects.
      </li>
      <li>
        Assisted in another website redesign, further solidifying my expertise
        in this area.
      </li>
    </ul>

    <h2>Skills and Specializations</h2>
    <ul>
      <li>
        Full-stack developer with a strong focus on both front-end and back-end
        development.
      </li>
      <li>
        Proficient in UI/UX design, capable of creating intuitive and
        aesthetically pleasing user interfaces.
      </li>
      <li>
        Specialize in JavaScript as a programming language, showcasing my strong
        technical skills.
      </li>
      <li>
        Experienced in software architecture, highlighting my ability to design
        robust and scalable software systems.
      </li>
    </ul>

    <p>
      These achievements stand as a testament to my dedication, technical
      prowess, and continuous strive for excellence in the field of software
      development. Embracing new challenges and opportunities, I am committed to
      further honing my skills and contributing to the success of future
      projects
    </p>
  </div>
</div>
