.btn {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 25px;
}
.btn-prim {
    background-color: lightblue;
}

.error {
    color: red;
    font-size: 13px;
}

.br-1 {
    border-radius: 10px;
}
.br-2 {
    border-radius: 5px;
}